<div id="<%= dom_id gas_station %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= gas_station.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Address:</strong>
    <%= gas_station.address %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this gas station", gas_station, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this gas station', edit_gas_station_path(gas_station), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
